body {
    background-color: cornflowerblue;
}

a {
    width: 100%;
    display: block;
}

h1, a, p {
    text-align: center;
    font-family: sans-serif
}

img {
    display: block;
    margin: auto;
    animation: pepeDance 3s infinite ;
} 


@keyframes pepeDance {
    0% {
        transform: translateX(180%)rotateZ(-90deg);;
    }
    5% {
        transform: rotateZ(-200deg);
    }
    10%{
        transform: rotateZ(-360deg);
    }
    50% {
        transform: translateX(-180%);
    }
    100% {

        transform: translateX(180%);
    }
}